/* font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Kanit', sans-serif; */
body {
  background-color: black;
  color: white;
  padding: 80px 100px;
  margin: 0px;
}

/* h1 {
  font-size: 72px;
  font-family: 'Kanit', sans-serif;
  line-height: 108px;
  margin-bottom: 0;
  white-space: pre-wrap;
  word-break: break-word;
  text-align: center;
} */

h2 {
  font-size: 36px;
  font-family: IBM Plex Sans;
  margin: 0;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

#btn {
  font-family: IBM Plex Sans;
  background-color: #FFFFFF;
  color: #000000;
  border-radius: 115px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 50px;
}

#hero, .body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative
}


#hero img {
  max-width: 400px;
  height: auto;
  width: auto;
}

#timer .timeel {
  font-size: 72px;
  font-family: 'Kanit', sans-serif;
  line-height: 108px;
  margin-bottom: 0;
  white-space: pre-wrap;
  word-break: break-word;
  text-align: center;
  /* text-transform: uppercase; */
}

#hero .timer-description {
  font-style: normal;
  font-weight: normal;
  line-height: 47px;
  margin: 0 0 80px 0;
}

.cop-killers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cop-killers p {
  font-family: IBM Plex Sans;
  font-size: 20px;
  line-height: 36px;
}

.cop-killers .killer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25px 25px 25px;
}

.cop-killers .killer img {
  height: 150px;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description .the-cut-quote {
  max-width: 750px;
  font-family: IBM Plex Sans;
  font-size: 20px;
  line-height: 36px;
}

.description h2 {
  text-align: center;
  margin-top: 50px;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions .share-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.actions .sign-petition #btn {
  font-size: 24px;
  padding: 12px 64px;
}

.sign-petition {
  margin: 50px 0 100px 0
}

.actions .share-btns #btn {
  font-size: 20px;
  padding: 7px 48px;
  margin: 0 16px;
}

.actions .share-btns .twitter #btn {
  color: #1DA1F2;
}

.actions .share-btns .facebook #btn {
  color: #4267B2;
}

.the-cut-credit, .dev-credits {
  font-family: IBM Plex Sans;
  text-align: center;
  font-size: 16px;
  line-height: 36px;
}

.the-cut-credit {
  margin-top: 80px;
}

.dev-credits {
  margin-top: 36px;
}

.btn {
  height: 75px;
}

@media screen and (max-width: 700px) {
  body {
    padding: 60px 50px;
  }
  #hero h1 {
    font-size: 50px;
    line-height: 70px;
  }
  #hero .timer-description {
    font-size: 28px;
    margin: 20px 0 60px 0;
  }

}

@media screen and (max-width: 500px) {
  body {
    padding: 50px 40px;
  }
  #hero img {
    max-width: 300px;
  }
}
